*{
    overflow: hidden;
    cursor: crosshair;
}


  
p {
    padding: none;
    position: absolute;
    top: 0%;
    left: 2%;
    z-index: 100;
    color: whitesmoke;
    display: inline-block;
    font-family: 'Anton', monospace;
    font-size: 2vw;
    text-decoration: underline;
    translate: center center;
    }
  
  
.vimeo-wrapper {
      position: fixed;

      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      pointer-events: none;
      overflow: hidden;
}

.vimeo-wrapper iframe {
      width: 100vw;
      height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
      min-height: 100vh;
      min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}
    

        
.VRN {
        float: left;
        padding: 5px;
        position: fixed;
        bottom: 2%;
        left: 2%;
        font-size: 1.5vw;
        z-index: 100;
        /*
        transform: rotate(-90deg);
        */
}
        
#VRN:hover {
    filter: drop-shadow(0 0 0.75rem crimson);
}



   
    .WRONG {
        float: left;
        padding: 5px;
        position: fixed;
        bottom: 2%;
        right: 2%;
        font-size: 1.5vw;
        z-index: 100;
      }
        
      #WRONG:hover {
        filter: drop-shadow(0 0 0.75rem crimson);
          }

@media screen and (max-width: 800px) {

.WRONG {
    float: left;
    padding: 5px;
    position: fixed;
    top: 10%;
    left: 2%;
    font-size: 1.5vw;
    z-index: 100;
}

.VRN {
    float: left;
    padding: 0%;
    position: fixed;
    top: 0%;
    left: 0%;
    font-size: 1.5vw;
    max-width: fit-content;
    height: fit-content;
    z-index: 100;
}

p {
    padding: 2%;
    position: absolute;
    top: 50%;
    left: 0%;
    z-index: 100;
    color: whitesmoke;
    display: inline-block;
    font-family: 'Anton', monospace;
    font-size: 6vh;
    text-decoration: underline;
    text-align: center;
    translate: center center;
    }
}